.nagl {
    text-align: center;
    color: cornflowerblue;
    margin-bottom: 4%;
}

/*http://doodlenerd.com/html-control/css-textbox-generator*/
.css-input {
    padding: 30px;
    font-size: 25px;
    border-width: 3px;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #000000;
    border-style: groove;
    border-radius: 10px;
    box-shadow: 11px 1px 18px rgba(66, 66, 66, .75);
    text-shadow: 0px 0px 5px rgba(66, 66, 66, .75);
    display: flex;
    margin: 0 auto;
}

.css-input:focus {
    outline: none;
}

.label {
    position: fixed;
    left: 45%;
    margin-bottom: 10px;
}

.button {
    position: fixed;
    margin: 0 auto;
    left: 53%;
    margin-left: -100px;
    background-color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    border-color: #CCCCCC;
    color: green;
    margin-bottom: 15px
}